<h1>Here are chores for <%=@parent.bank_name %></h1>

<% if @chores.any?() %>
  <ul>
    <% @chores.each() do |chore| %>
      <% if chore.kid_id.==(nil) %>
        <li><%=chore.description%>&nbsp;&nbsp;&nbsp;&nbsp;<%=chore.pay%>&nbsp;&nbsp;&nbsp;&nbsp; Chore Available </li>
      <% else %>
        <% kid = Kid.find(chore.kid_id) %>
        <li><%=chore.description%>&nbsp;&nbsp;&nbsp;&nbsp;<%=chore.pay%>&nbsp;&nbsp;&nbsp;&nbsp; <%= kid.name %> has this chore </li>
      <% end %>
    <% end %>

  </ul>
<%else%>

<p> No chores on this list</p>
<%end%>


Add Chores
<form id="form_id" action="/parent/<%=@parent.id %>/chores" method="post">
  <input type="text" name="description" placeholder="Enter chore description">
  <label for="pay">Enter the pay for this chore $:</label>
    <input type="text" name="pay">
  <button type="submit">Add chore</button>

</form>
