<h1><%=@kid.name%>'s Bank info</h1>


<p><%=@kid.name%> has saved $<%= @transactions.sum(:amount).to_f %></p>
<p><%=@kid.name%>'s savings goal $: <%=@kid.goal%></p>

<h3>Transaction History</h3>

<ul>
  <% @transactions.each() do |transaction| %>
  <li><%= transaction.date %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.transaction_type %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.amount %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.description %></li>
  <% end %>
</ul>



<h3>Add a transaction</h3>
<form id="form_id" action="/kids/<%=@kid.id%>" method="post">
  <p><select id="transaction_type" type="text" name="transaction_type">
    <option value="deposit">Deposit</option>
    <option value="withdrawal">Withdrawal</option>
    </select> Select transaction type </p>
  <label for="amount">Enter transaction amount: $</label>
  <input type="text" name="amount">
  <p><label for="description">Enter description:</label>
    <input type="text" name="description"></p>
  <p>
    <label for="date">Today's date:</label>
    <input type="date" name="date"></p>

  <button type="submit">Add transaction</button>
</form>
