<h1><%= @kid.name %>'s page</h1>

<h2>You have saved <%= @kid.balance %>!</h2>

<h3>Transaction History</h3>

<ul>
  <% @transactions.each() do |transaction| %>
  <li><%= transaction.date %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.transaction_type %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.amount %>&nbsp;&nbsp;&nbsp;&nbsp;<%= transaction.description %></li>
  <% end %>
</ul>
