<h1>Here are <%= @parent.bank_name %> chores</h1>

<% @chores.each() do |chore| %>
  <% if chore.available() %>
  <li><%=chore.description%>&nbsp;&nbsp;&nbsp;&nbsp;<%=chore.pay%></li>

  <form  action='/parent/<%=@parent.id%>/chores' method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="kid_id" value="<%=@kid.id%>">
    <input type="hidden" name="chore_id" value="<%=chore.id%>">
    <button type="submit">Sign up for this chore</button>

  </form></li>



  <% end %>
<%end%>
